*{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
body{
  background-color: white;
} 
 .class{
   background-color: black;
   position: sticky;
   top: 0;
 }

 .ji{
   height: 400px;
 }
  
 
 html {
  scroll-behavior: smooth;
}

.home :hover{
  transform: scale(1.3);
}
.p-r{
  border-radius:10px 10px 10px 10px;
  
 
}